/* Main styling */

body {
    background: #202124; 
    display: flex;
    flex-direction: column;
    height: 100%;
}

body, input, button {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: rgb(189, 193, 198);
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 400px;
}

header {
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
    align-items: center;
    height: 60px;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6px;
}

form {
    max-width: 584px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div {
    padding-top: 109px
}

/* Navigation bar */

.nav-main-container {
    display: flex; 
    flex-direction: row;
    width: 100%; /* Spans over the whole width of the web page */
    align-items: center;
    padding: 6px; /* Adds a space surrounding the nav-main-container */
    position: fixed; /* Fix the nav-main-container to top */
}

.nav-left-container {
    display: flex;
    flex-grow: 1;  /* Left and right container take the same space */
    align-items: center; /* Centers items veretically within the container */
    text-align: left;
}

.nav-right-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end; /* Pushes content to the right */
    margin-right: 21px; /* Adds 21px spacing from the right */
}


.sign-in-button {
    display: flex;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    letter-spacing: 0.25px;
    flex-direction: row;
    background: #8ab4f8;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    color: #202124;
    padding: 9px 25px;
    margin-right: 9px;
    margin-left: 9px;
}

/* Format navigation bar links */
.nav-main-container a {
    text-decoration: none;
    padding: 5px;
    margin: 0 5px;
    white-space: nowrap;
}

.nav-main-container a:first-of-type {
    margin-left: 9px; /* Adds 9px margin to the 'About' link */
}

.nav-main-container a:hover {
    text-decoration: underline; /* Adds underline when hovering over links */
}

.nav-left-container a{
    color: rgb(189, 193, 198);
}

.nav-right-container_A {
    padding-left: 16px;
}

.nav-right-container_A a{
    color: white;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    margin: 0px;
    line-height: 24px;
}

.nav-right-container_B {
    display: flex;
    padding: 5px;
    white-space: nowrap;
    vertical-align: middle;
    margin-right: 20px;
    align-items: center;
}

.sign-in-button:hover {
    background: rgb(147, 184, 243);  /* Highlight when hovering over button*/
}

/* Format Google search containers */

.search-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.search-contents {
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 0;

}

.google-logo {
    max-width: 300px;  /* Adjust picture size to container size*/
    display: block;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}
 
.search-bar-container { 
    position: relative;
    flex: 1;
    align-items: center;
    margin: 0 auto;
    height: 45px;
    border-radius: 24px;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    width: auto;  /* Automatically shrinks search bar */
    max-width: 585px;  /* Limits automatix width adjussutment */
    box-sizing: border-box;
    flex-shrink: 0;

}

.search-bar-container-items {
        border: 1px solid #5f6368;
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        margin: 0 auto;
        height: 45px;
        border-radius: 24px;
        padding: 5px 8px 0 16px;
        padding-left: 14px;
        width: auto;  /* Automatically shrinks search bar */
        max-width: 585px;  /* Limits automatix width adjussutment */
        box-sizing: border-box;
        flex-shrink: 0;
    
    
}

.search-bar-container-items:hover {
    background-color: #303235;
    border: 1px solid #303235;
    box-shadow: 0 0 11px #161616;
    
}

#google-search {
    display: flex;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    color: #e8eaed;
    background-color: transparent;
    font-size: 16px;
    height: 34px;
    margin-bottom: 6px;
    border: none;
    outline: none;
}

.search-buttons-container {
    height: 70px;
    padding-top: 18px;
    top: 53px;
    z-index: 0;
    display: flex;
    align-items: center;

    justify-content: center;

}

.google-search-button {

    margin: 11px 4px;
    padding: 0 17px 0 17px;
    line-height: 37px;
    height: 36px;
    min-width: 54px;

    text-align: center;

    font-size: 14px;
    color: #e8eaed;
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    cursor: pointer;
}

.google-search-button:hover {
    border: 1px solid #616366;
}

.lucky-search-button {

    margin: 11px 4px;
    padding: 0 16px;
    line-height: 37px;
    height: 36px;
    min-width: 54px;

    text-align: center;

    font-size: 14px;
    color: #e8eaed;
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    cursor: pointer;
}

.lucky-search-button:hover {
    border: 1px solid #616366;
}

.second-language {

}

/* Icon Formatting */

.center-app-icon {
    width: 40px;
    height: 10px;
    align-items: center;
}

.app-icon {
    display: inline-block;
    padding: 8px;
    cursor: pointer;
    color: white;

}
.app-icon:hover {
    background-color: #2f3035; /* Adds light grey background circle on hover*/
    border-radius:50%;
}

.search-icon {
    display: flex;
    align-items: center;
    filter: contrast(0);
    margin-top: 3px;
    margin-bottom: 5px;
    padding-right: 13px;
}

.mic-icon {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: stretch;
    filter: contrast(0);
    margin-left: 13px;
    padding-right: 13px;
    padding-bottom: 5px;
    color: color: #bdc1c6;
}
