
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 400px;
}

body, input, button {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: rgb(189, 193, 198)
}

body {
    background: rgb(32, 33, 36)
}

.Overlay {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.OverlayLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 560px);
}

.Navbar {
    flex-shrink: 0;
    box-sizing: border-box;
}

.NavbarBox {
    display: flex;
    align-items: center;
    padding: 6px;
}

.AboutStoreHeight {
    height: 60px;
}

a {
    text-decoration: none;
}

a.NavbarAboutStore:first-of-type {
    margin-left: 15px;
}

a.NavbarAboutStore {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: rgb(189, 193, 198);
}

.TopNavbarRight {
    display: inline-block;
    flex-grow: 1;
}

.MarginLogo {
    height: 100%;
    margin-top: auto;
}

.MarginLogoBox {
    max-height: 230px;
    text-align: center;
}

.LogoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    max-height: 290px;
    height: calc(100% - 560px);
    flex-shrink: 0;
}

.SearchbarBox {
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.SearchabrOverlay body input button {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    width: auto;
    max-width: 584px;
    position: relative;
    margin: auto;
    padding-top: 6px;
}

.Searchbar{
    width: auto;
    max-width: 584px;
    background: #202124;
    display: flex;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

.SearchbarElementsBox {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
}

.SearchbarMagnifierOverlay {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.SearchbarMagnifierBox {
    margin: auto;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
}

.SearchfieldOverlay {
    display: flex;
    flex-wrap: wrap;
    height: 34px;
}

.SearchfieldBox {
    color: transparent;
    height: 34px;
    white-space: pre;

}

.Inputfield {
    background-color: transparent;
    border: none;
    width: auto;
    margin: 0;
    padding: 0;
    color: #e8eaed;
    word-wrap: break-word;
    outline: none;
    display: flex;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}

.TTSOverlay {
    display: flex;
    flex: auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
}

.TTSBOX {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;  
}

.material-icons {
    height: 24px;
    width: 24px;
    ;
}

.SearchbuttonOverlay {
    height: 70px;
    padding-top: 18px;
    top: 53px;
    z-index: 0; 
}

.SearchbuttonBox {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.Flexgrow {
    flex-grow: 1;
}

.NavbarBottomOverlay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.NavbarBottomColor {
    background-color: #171717;
}

.NavbarBottomSpacing {
    justify-content: space-evenly;
}
